{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <tr>

            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>

                <td>{{ product.name }}</td>
                {% if product.price != product.promotionPrice %}
                    <td>{{ product.promotionPrice}}</td>
                    <td><del>{{ product.price }}</del></td>

                {% else %}
                    <td>product.price</td>
                {% endif %}
                <td>{{ product.quantity }}</td>
                <td>{{ product.description }}</td>
                <td><img src="/images/products/{{ product.photo }}" style="width: 250px;" ></td>>
                <td>
                    <ul>


                        {% if product.quantity > 0 %}
                            <li>

                                <a class="btn btn-sm" href="{{ path('products_show', { 'id': product.id }) }}">
                                    <button type="button" class="btn btn-fefault cart">
                                        Show
                                    </button>
                                </a>

                            </li>
                        <a class="btn btn-sm" href="{{ path ('add_to_cart',{ 'id': product.id }) }}">
                            <button type="button" class="btn btn-fefault cart">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </button>
                            </a>
                        {% else %}
                            <h4>Няма наличност</h4>
                        {% endif %}
                        {% if app.user %}
                        {% if app.getUser.isAdmin() or app.getUser.isEditor()%}

                            <li>
                                <a class="btn btn-sm" href="{{ path('products_edit', { 'id': product.id }) }}">
                                    <button type="button" class="btn btn-fefault cart">
                                        Edit
                                    </button>
                                </a>

                            </li>
                        {% endif %}
                        {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}