<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Cattleya shop{% block title %}{% endblock %} </title>
    <link href="{{ asset ('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset ('css/price-range.css') }}" rel="stylesheet">
    <link href="{{ asset ('css/price-range.css') }}" rel="stylesheet">
    <link href="{{ asset ('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset ('css/responsive.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>

    <script src="{{ asset ('js/html5shiv.js') }}"></script>

    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }}">

    {% block stylesheets %}{% endblock %}
    {% block header %}
</head><!--/head-->

<body>
<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +359 898429685</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> cattleyashop@gmail.com </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    {% if app.user %}
        <div class="header-middle"><!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="{{ path('default_index') }}"><img src="{{ asset('images/home/logo1.png') }}" alt="" /></a>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('user_profile') }}"><i class="fa fa-user"></i> Акаунт </a></li>
                                <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="{{ path('security_logout') }}"><i class="fa fa-lock"></i> Logout</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

    {% else %}
        <div class="header-middle"><!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="{{ path('default_index') }}"><img src="{{ asset('images/home/logo1.png') }}" alt="" /></a>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('user_profile')}}"><i class="fa fa-user"></i> Account</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="{{ path('security_login') }}"><i class="fa fa-lock"></i> Login</a></li>
                                <li><a href="{{ path('user_register') }}"><i class="fa fa-lock"></i> Register</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

    {% endif %}
    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            {% if app.user %}
                                {% if app.user.isAdmin() or app.user.isEditor() %}
                                    <li class="dropdown"><a href="#">Admin<i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="sub-menu">
                                            {% if app.user.isAdmin() %}
                                                <li><a href="{{ path('admin_users') }}">Users</a></li>
                                            {% endif %}
                                            <li><a href="{{ path('categories_create') }}">create Category</a></li>
                                            <li><a href="{{ path('admin_categories') }}">Category list</a></li>
                                            <li><a href="{{ path('products_new') }}">Create product</a></li>


                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li><a href="{{ path('default_index') }}" class="active">Home</a></li>
                            <li class="dropdown"><a href="#">Магазин<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="{{ path('list') }}">Продукти</a></li>
                                    <li><a href="product-details.html">Детайли</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="cart.html">Cart</a></li>

                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Промоции<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="blog.html">Текущи промоции</a></li>

                                </ul>
                            </li>
                            <li><a href="404.html">Най-купувани</a></li>
                            <li><a href="{{ path('contactus') }}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search"/>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1>Cattleya Shop</h1>
                                <h2>Cool things</h2>
                                <p>:)</p>
                                <a href="{{ path('list') }}">
                                    <button type="button" class="btn btn-default get">Shop here</button>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ asset('images/home/girl1.jpg') }}" class="girl img-responsive" alt="" />
                                <img src="{{ asset('images/home/pricing.png') }}"  class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1>Cattleya Shop</h1>
                                <h2>Cool things</h2>
                                <p>:) </p>
                                <a href="{{ path('list') }}">
                                    <button type="button" class="btn btn-default get">Shop here</button>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ asset('images/home/girl2.jpg') }}" class="girl img-responsive" alt="" />
                                <img src="{{ asset('images/home/pricing.png') }}"  class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1>Cattleya Shop</h1>
                                <h2>Cool things</h2>
                                <p>:) </p>
                                <a href="{{ path('list') }}">
                                    <button type="button" class="btn btn-default get">Shop here</button>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ asset('images/home/girl2.jpg') }}" class="girl img-responsive" alt="" />
                                <img src="{{ asset('images/home/pricing.png') }}"  class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
{% endblock %}

{% block body %}
<h1>Product creation</h1>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--reg form-->

{{ form_start(form) }}
        {{ form_widget(form) }}
<input type="submit" value="Create" />
{{ form_end(form) }}

                </div><!--/reg form-->
            </div>
        </div>
    </div>
</section><!--/reg-->
<ul>
    <li>
        <a href="{{ path('list') }}">Back to the list</a>
    </li>
</ul>
{% endblock %}

{% block footer %}
    <footer id="footer"><!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2>Cattleya Shop</h2>
                            <p>Cool things :)</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="{{ asset('images/home/iframe1.png') }}" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="{{ asset('images/home/iframe2.png') }}" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="{{ asset('images/home/iframe3.png') }}" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="{{ asset('images/home/iframe4.png') }}" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="{{ asset('images/home/map.png') }}" alt="" />
                            <p>гр.Добрич ул "Георги Кирков" 23</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">

                                <li><a href="{{ path('contactus') }}">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="{{ path('location') }}">Location</a></li>
                                <li><a href="{{ path('faq') }}">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quick Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('category_products', {'id': '11'}) }}">Make up</a></li>
                                <li><a href="{{ path('category_products', {'id': '18'}) }}">Mens</a></li>
                                <li><a href="{{ path('category_products', {'id': '19'}) }}">Womens</a></li>
                                <li><a href="{{ path('category_products', {'id': '20'}) }}">Toys</a></li>
                                <li><a href="{{ path('category_products', {'id': '15'}) }}">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('terms') }}">Terms of Use</a></li>
                                <li><a href="{{ path('privacy') }}">Privecy Policy</a></li>
                                <li><a href="{{ path('refund') }}">Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>За нас</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('info') }}">Информация</a></li>
                                <li><a href="{{ path('carriers') }}">Кариери</a></li>
                                <li><a href="{{ path('location') }}">Локация</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <p class="pull-left">Copyright © 2017 Cattleya Shop Inc. All rights reserved.</p>
                        <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                    </div>
                </div>
            </div>
</div>
    </footer><!--/Footer-->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/price-range.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>



